/*---start-header----*/

*---start-wrap----*/ .wrap {
    width: 70%;
    margin: 0 auto;
}

.header {
    background: url(../images/border.png) repeat-x 0px 0px #FFF;
    padding: 1.5em 0 1.2em;
}

h1 {
    padding-top: 0;
    padding-bottom: 8%;
    text-align: center;
    font-size: 40px;
    color: #7ec479;
}

.form-group {
    text-align: center;
}

.button {
    background-color: #7ec479;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 20px;
    cursor: pointer;
}

.button {
    border-radius: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.lightbox {
    /*需要引起用户注意的元素*/
    z-index: 1;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    padding: 5%;
    border-radius: 25px;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
}

.redBorder {
    border: #ff0000 2px solid
}

.blackBorder {
    border: #000000 1px solid
}